html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container {
    border-color: grey;
    border-radius: 25px;
    border: 1px solid;
    box-shadow: 4px 4px lightgrey;
    padding: 25px 25px;
    width: 25%;
    height: auto;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .login-container {
        width: 100%;
        padding: 15px;
        border: none;
        box-shadow: none;
    }
}